*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px  auto;
  display: flex;
}

.step{
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.step:last-child{
  margin-right: 0;
}

.step1-img{
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step2-img{
  background-image:url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step3-img{
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.step-nab{
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top:0;
  left: 0;
}

.step-title{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {

}